.cell {
  display: flex;
  flex-direction: row;
}

.board-col1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.board-col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.board-col2 p,
.board-col2 span {
  margin: 0 15px;
  padding: 0;
}
.board-col2 span {
  font-size: 10px;
}
.board-col2 {
  text-align: left;
}

.al {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.userBatch {
  margin-top: 20px;
  min-width: 300px;
  /* border: 1px solid #ccc; */
}

.nm {
  text-align: left !important;
  font-size: 14px !important;
}
