.rec.rec-dot {
  box-shadow: none !important;
  background-color: black;
}
.rec.rec-dot_active {
  box-shadow: 1px 1px 1px 1px black !important;
  background-color: transparent;
  outline: black !important;
}
.rec.rec-arrow {
  box-shadow: none !important;
  border-radius: 0;
  background-color: transparent !important;
  color: black;
  opacity: 0.5;
  transition: all 250ms;
}
.rec.rec-arrow:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  color: black !important;
  opacity: 0.7;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.testimonials {
  background-color: #f9feff;
  text-align: left !important;
}
