<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sketchfab-embed-wrapper"> <iframe title="Brain" frameborder="0" allowfullscreen
            mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking"
            xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
            src="https://sketchfab.com/models/3022543bb7a54b88b892ff4907e50929/embed?ui_theme=dark"> </iframe>
        <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
                href="https://sketchfab.com/3d-models/brain-3022543bb7a54b88b892ff4907e50929?utm_medium=embed&utm_campaign=share-popup&utm_content=3022543bb7a54b88b892ff4907e50929"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> Brain </a> by <a
                href="https://sketchfab.com/Javi_DaviYT?utm_medium=embed&utm_campaign=share-popup&utm_content=3022543bb7a54b88b892ff4907e50929"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> Javi_DaviYT </a> on <a
                href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=3022543bb7a54b88b892ff4907e50929"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
    </div>
</body>

</html>